.worksmenu {
  grid-column: 1 / -1;
  grid-template-rows: 1fr 8rem 1fr;
  height: 100vh;

  & nav {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: center;
    width: 100%;
    display: flex;
    gap: 0.5rem;

    @media (min-width: 768px) {
      gap: 1rem;
    }
    
    & a {
      display: block;
      aspect-ratio: 16 / 9;
      background-color: blue;
      background-size: cover;
      background-position: center;
    }
  }

  & h2 {
    grid-column: 1 / 5;
    grid-row: 2;
    align-self: start;
  }
}

.year {
  grid-column: 5 / 6;
  grid-row: 2;
}

.explore {
  grid-column: 1 / 5;
  grid-row: 3;
  font-family: var(--font-heading);
  text-transform: unset;

  &:before {
    content: '';
    display: inline-block;
    width: 1.125rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-red);
    margin-right: 0.5rem;
  }
}

.active {
  background-color: pink !important;
}

