.worksmenu {
  grid-column: 1 / -1;
  grid-template-rows: 45dvh 10rem 8rem 1fr;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  & nav {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: start;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding-bottom: 1rem;   

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 768px) {
      gap: 1rem;
    }
    
    & a {
      display: block;
      height: 6rem;
      min-width: 10rem;
      flex-shrink: 0; 
      background-color: blue;
      background-size: cover;
      background-position: center;
      position: relative;
      margin-top: 1.5rem;
      overflow: hidden;
      transition: height 0.2s ease-out, margin-top 0.2s ease-in-out;
    }

    & a:hover {
      height: 9rem;
      margin-top: 0;
    }
  }
}

.projectInfo {
  grid-column: 1 / 5;
  grid-row: 3;
  align-self: start;
}

.explore {
  grid-column: 1 / 5;
  grid-row: 4;
  display: block;
  font-family: var(--font-heading);
  text-transform: unset;
  
  &:before {
    content: '';
    display: inline-block;
    width: 1.125rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-red);
    margin-right: 0.5rem;
  }
}

.year {
  grid-column: 5 / 6;
  grid-row: 3;
}

.active {
  background-color: pink !important;
}
