.transitionWrapper {
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
}

.transitionImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
} 