.imageWrapper {
  width: 100%;
  height: 40.5rem;
}

.imageContainer {
  width: 100%;
  height:40.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contentVideo {
  width: 100%;
  height: auto;
  display: block;
}

.videoContainer {
  width: 100%;
  grid-column: 1 / -1 !important;
}