.imageDoubleContainer {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.imageWrapperLeft, .imageWrapperRight {
  width: 100%;
  height: 40.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.imageWrapperLeft{
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.imageWrapperSingle {
  grid-column: 1 / -1;
  width: 100%;
  position: relative;
}

.imageSingle {
  grid-column: 1 / -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative !important;
}

.textContainer {
  & h1, h2, h3 {
    margin-bottom: 1rem;
    font-family: var(--font-body);
    line-height: 1;

    & span {
      font-size: 1.25rem !important;
    }
  }

  @media (max-width: 768px) {
    grid-column: 1 / -1 !important;
  }
}

.contentVideo {
  width: 100%;
  height: auto;
  display: block;
}

.videoContainer {
  width: 100%;
  grid-column: 1 / -1 !important;
}

.figcaption {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  grid-column: 1 / -1;
}