.header {
  align-items: start;

  & h1 {
    grid-column: 1 / -1;
    font-size: 0.9375rem;
    font-weight: 400;

    @media (min-width: 768px) {
      grid-column: 1;
    }
  }
}

.intro {
  grid-column: 1 / -1;
  font-size: 1.25rem;

  @media (min-width: 768px) {
    grid-column: 9 / -1;
  }
}

.headerToggle {
  font-size: 0.75rem;

  @media (min-width: 768px) {
    grid-column: 7;
  }
}