.header {
  align-items: start;

  & h1 {
    grid-column: 1 / -1;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      grid-column: 1;
    }
  }

  & nav {
    grid-column: 1 / -1;

    & a {
      display: block;
      font-weight: 400;
    }

    @media (min-width: 768px) {
      grid-column: 7;
    }
  }
}

.intro {
  grid-column: 1 / -1;

  @media (min-width: 768px) {
    grid-column: 9 / -1;
  }
}

.headerToggle {
  margin: 0.5rem 0 1rem 0;
  font-size: 0.75rem;
}