.header {
  align-items: start;

  & h1 {
    grid-column: 1 / -1;
    font-size: 3rem;

    @media (min-width: 768px) {
      grid-column: 1 / 11;
    }
  }
}

.headerToggle {
  margin-top: 0.5rem;
  justify-content: end;

  @media (min-width: 768px) {
    grid-column: 12 / -1;
  }
}