.footer {
  align-items: start;

  & h4 {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    color: pink;
    text-transform: uppercase;

    @media (min-width: 768px) {
      grid-column: 1 / 11;
    }
  }
}